openpyxl==3.1.5

fastapi
uvicorn[standard]
python-dotenv
azure-storage-blob>=12.14.1
pymupdf
Pillow
openai
requests
aiofiles
aiohttp

azure-ai-formrecognizer
pandas
mammoth
weasyprint

# azure.ai.documentintelligence